<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head_files::headFiles">
    <title>Liste des Films</title>
</head>

<body>
<div th:replace="fragments/header::header"></div>
<div class="container mt-4" style="padding-bottom: 100px;">
    <div class="card">
        <div class="card-header"> Saisir un nouveau Film </div>
        <div class="card-body">
            <div class="form-container p-2 px-5">
                <form action="/film/add/" method="post">
                    <div class="mb-4">
                        <label for="titre" class="form-label">Titre du film: </label>
                        <input type="text" class="form-control" name="titre">
                    </div>

                    <div class="mb-4">
                        <label for="description" class="form-label">Description : </label>
                        <textarea class="form-control" name="description" rows="5"></textarea>
                    </div>
                    <div class="mb-4">
                        <label for="annee" class="form-label">Année parution : </label>
                        <input type="number" name="anneeparution" class="form-control">
                    </div>
                    <div class="mb-4">
                        <label for="category" class="form-label">Categories: </label>
                        <select name="category" class="form-select">
                            <option th:each="cat : ${categories}"th:value="${cat.id}" th:text="${cat.nom}"></option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="acteurs" class="form-label">Acteurs: </label>
                        <select name="acteurs" class="form-select" multiple>
                            <option th:each="act : ${acteurs}" th:value="${act.id}" th:text="${act.nom}"></option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-outline-primary " value="Ajouter">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

