<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head_files::headFiles">
    <title>Liste des Films</title>
</head>
<body>
    <div th:replace="fragments/header::header"></div>
    <div class="container mt-4">
        <h1>Liste des Films</h1>
        <div class="border p-2 mb-2">
            <div class="nav">
                <a href="/film/new" class="btn btn-outline-secondary " >Ajouter Film</a>
            </div>
        </div>
        <!-- search  -->
            <form action="/film/find" method="post">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search"
                  name="titre"
                />
                <button class="btn btn-outline-secondary">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </form>
            <form action="/film/findc" method="post" id="categoryForm">
                <div class="input-group">
                    <select class="form-select" name="category" id="inputGroupSelect04" onchange="submitCategoryForm()" aria-label="Example select with button addon">
                        <option value="0"  selected>Choose...</option>
                        <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.nom}" th:selected="${categoriesId == cat.id}"></option>
                    </select>
                    <input class="btn btn-outline-secondary" type="submit" value="search" >
                </div>
            </form>
        <table class="table table-hover mt-3">
            <tr style="background-color: #cccccc;">
                <th>ID</th>
                <th>TITLE</th>
                <th>DESCRIPTION</th>
                <th>ANEE PARUTION</th>
                <th>CATEGORIE</th>
                <th>ACTEURS</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="f : ${film}">
                <td th:text="${f.id}"></td>
                <td th:text="${f.titre}"></td>
                <td th:text="${f.description}"></td>
                <td th:text="${f.anneeparution}"></td>
                <td th:text="${f.category.nom}"></td>
                <td  >
                    <ul th:each="a : ${f.acteurs}">
                        <li th:text="${a.nom}"></li>
                    </ul>
                </td>
                <td><a th:href="@{/film/update/{id} (id=${f.id})}" class="btn btn-outline-secondary" >Edite</a></td>
                <td>
                    <form th:action="@{/film/delete/{id} (id=${f.id})}" th:method="delete">
                        <input type="submit" value="Supprimer" class="btn btn-outline-danger"
                           onclick="return confirm('voulez vous vraiment supprimer ce film? ')">
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>